footer {
  display: grid;
  grid-template-columns: 95%;
  justify-content: center;
  align-items: center;
}
.footerContainer {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 50px;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 50px;
}

.footerSnapSyncBox {
  grid-column: span 6;
}
.footerProductBox {
  grid-column: span 2;
}
.footerPopularBox {
  grid-column: span 2;
}
.footerWallpapersBox {
  grid-column: span 2;
}

.footerBox:first-child p {
  margin-bottom: 20px;
}
.footerBox h5 {
  font-size: 17px;
  margin-bottom: 25px;
}
.footerBox ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footerBox ul li {
  width: -moz-fit-content;
  width: fit-content;
}
.footerBox ul li a {
  font-size: 14px;
  color: #818181;
  transition: all 0.5s;
}
.footerBox ul li:hover a {
  color: #000000;
}
.footerBar {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #81818142;
}
.footerBar .pages ul {
  display: flex;
  gap: 20px;
}
.footerBar .pages ul li a {
  font-size: 14px;
  color: #818181;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.footerBar .pages ul li:hover a {
  color: #000000;
}

.footerBar .social ul {
  display: flex;
  gap: 20px;
}
.footerBar .social ul li img {
  width: 25px;
  cursor: pointer;
  transition: all 0.5 cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.footerBar .social ul li:hover img {
  transform: scale(1.2);
}

.copyright {
  text-align: center;
  line-height: 25px;
}

.copyright span {
  font-size: 14px;
  color: #818181;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}
.copyright span a {
  color: #797979;
}
.copyright:hover a {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.copyright:hover span {
  color: #000000;
}
/* Responsive CSS starts are here */
/* max-width 599px Starts are here  */
@media only screen and (max-width: 599px) {
  .footerContainer {
    grid-template-columns: 1fr;
  }
  .footerBox {
    grid-column: 1 / -1;
  }
  .footerBar {
    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;
  }
}
/* max-width 599px ends are here*/

/* min-width 600px to max-width 991px Starts are here  */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .footerContainer {
    grid-template-columns: repeat(12, 1fr);
  }
  .footerBox {
    grid-column: span 4;
  }
  .footerBar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;
  }
}
/* min-width 600px to max-width 991px ends are here*/
/* Responsive CSS ends are here */
