main {
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 40%;
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
}
.container img {
  width: 100px;
  margin: 0 auto;
}
.container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.container article h1 {
  font-size: 30px;
}
.container article p {
  line-height: 26px;
  font-size: 14px;
  font-weight: 500;
}
.container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container form .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-bottom: 15px;
}

.container form .email label {
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: #818181;
  margin-bottom: 10px;
}
.container form .email input {
  width: 100%;
  padding: 14px;
  border: none;
  font-size: 15px;
  color: #cf90f9;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 10px -5px #cf90f9;
}
.container form .email input::placeholder {
  font-size: 16px;
  color: #cf90f9;
}
.container form .email input:focus {
  box-shadow: 0 0 10px -5px #000000;
}

.container form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgb(207, 144, 249);
  background: -moz-linear-gradient(
    90deg,
    rgba(207, 144, 249, 1) 35%,
    rgba(142, 203, 252, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(207, 144, 249, 1) 35%,
    rgba(142, 203, 252, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(207, 144, 249, 1) 35%,
    rgba(142, 203, 252, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cf90f9",endColorstr="#8ecbfc",GradientType=1);
  box-shadow: 0 0 12px -6px #cf90f9;
  cursor: pointer;
  padding: 11px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  border: none;
  outline: none;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.container form button:hover {
  box-shadow: 0 0 10px -5px #000000;
  color: #ffffff;
}
