.sshContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.sshLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
}
.sshLogo a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sshLogo img {
  padding: 10px 0;
  width: 70px;
  height: 70px;
}

.sshSearch {
  display: flex;
  align-items: center;
  grid-column: 2 / 8;
}
.sshSearch form {
  width: 95%;
  display: grid;
  grid-template-columns: 50px 1fr;
  border-radius: 23px;
  transition: all 0.4s;
}
.sshSearch form:hover {
  box-shadow: 0 0 5px -2px #000000;
}

.sshSearch button {
  padding: 10px 0 10px 10px;
  border: none;
  outline: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  cursor: pointer;
}
.sshSearch button img {
  width: 22px;
  height: 22px;
}
.sshSearch input[type="search"] {
  background-color: #efefef;
  color: #818181;
  padding: 10px 15px 10px 3px;
  font-size: 15px;
  border: none;
  outline: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sshEaU {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column: 8 / 10;
  position: relative;
}
.sshEaU:after {
  content: "";
  width: 1px;
  height: 40px;
  background-color: #b3b3b3;
  position: absolute;
  right: -27px;
}
.sshEaU ul {
  display: flex;
  gap: 20px;
}
.sshEaU ul li a {
  font-size: 14px;
  color: #818181;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}
.sshEaU ul li:hover a {
  color: #000000;
}
#sshUnsplashPlus {
  color: transparent;
  background-image: linear-gradient(to right, #cf90f9 50%, #8ecbfc 50%);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
}
#sshUnsplashPlus:hover {
  background-image: linear-gradient(to right, #8ecbfc 50%, #cf90f9 50%);
}

.sshUserActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 10 / 12;
  gap: 20px;
}
.sshUserActions .sshLoginButton {
  font-size: 14px;
  font-weight: 500;
  color: #818181;
  cursor: pointer;
  transition: all 0.3s;
}
.sshUserActions .sshLoginButton:hover {
  color: #000000;
}
.sshUserActions button {
  background-color: transparent;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: 500;
  color: #818181;
  border-radius: 5px;
  border: 0.5px solid #818181;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}
.sshUserActions button:hover {
  color: #000000;
  border: 0.5px solid #000000;
}

.sshMenuBar {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 12 / -1;
}
.sshMenuBar button {
  padding: 10px 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sshMenuBar button img {
  width: 23px;
  height: 23px;
}

/* Menu CSS Starts Are Here */
.sshMenu {
  position: absolute;
  top: 65px;
  right: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 8px -6px #000000;
  border-radius: 7px;
  transform-origin: right;
  transition: opacity 0.3s ease; /* Adjust the duration and timing function as needed */
}

.sshMenuContainer {
  padding: 30px 30px 0 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
  position: relative;
}
.sshMenuContainer::before {
  content: "";
  position: absolute;
  box-shadow: 8px -8px 6px -11px;
  border-right: 30px solid #ffffff;
  border-bottom: 30px solid transparent;
  top: -3px;
  right: 19px;
  transform: rotate(315deg);
}
.sshMenu ul li a {
  font-size: 14px;
  color: #818181;
  font-weight: 500;
  transition: all 0.1s;
}
.sshMenu ul li:hover a {
  color: #000000;
}

.sshMenuBoxLogo {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}
.sshMenuBoxLogo strong {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.sshMenuBoxLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sshMenuBoxLinks ul {
  align-self: center;
}
.sshMenuBoxLinks ul:first-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.socialLinks {
  display: flex;
  gap: 20px;
}
.socialLinks li a {
  display: flex;
  align-items: center;
}
.socialLinks li a img {
  width: 28px;
  height: 28px;
}

.sshBottomBar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border-top: 1px solid #81818142;
  padding: 15px 35px;
}
.sshPages ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.sshLanguages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}
.sshLanguages select {
  background-color: transparent;
  color: #818181;
  font-weight: 500;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.sshLanguages select option {
  font-size: 15px;
  font-weight: 500;
  background-color: #ffffff;
}
/* Menu CSS Ends Are Here */
