.ultimate {
  display: grid;
  grid-template-columns: 95%;
  justify-content: center;
  align-items: center;
}
.imageContainer {
  margin-top: 50px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: dense;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.86, 0, 0.07, 1);
}
.imageContainer img:hover {
  transform: scale(1.01);
}
.horizontal {
  position: relative;
  grid-column: span 4;
}
.vertical {
  position: relative;
  grid-column: span 4;
  grid-row: span 2;
}
.big {
  position: relative;
  grid-column: span 4;
  grid-row: span 2;
}

/* Responsive CSS Starts Are Here */

/* max-width 599px Starts Are Here*/
@media only screen and (max-width: 599px) {
  .imageContainer div {
    grid-column: 1 / -1;
  }
}
/* max-width 599px Ends Are Here*/

/* min-width 600px to  max-width 1250px Starts Are Here*/
@media only screen and (min-width: 600px) and (max-width: 1250px) {
  .imageContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  .imageContainer div {
    grid-column: span 2;
  }
}
/* min-width 600px to  max-width 1250px Ends Are Here*/

/* Responsive CSS Ends Are Here */
